Repository TheKevJames/coveralls-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  pyproject-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update lockfiles
  poetry.lock
  uv.lock
Due: none

chore: fix license specification
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

chore(deps): update dependency pytest to v9.1.1
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

chore(deps): update responses to v0.26.2
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

feat(api): add configurable request timeouts
  coveralls/api.py
  coveralls/cli.py
  docs/usage/configuration.rst
  tests/api/configuration_test.py
  tests/api/wear_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

feat(config): add typed Config dataclass
  coveralls/configuration.py
  tests/api/config_test.py
Due: pytest-fixtures-require-scope

refactor(config): unify CI/env/file sources behind resolve()
  coveralls/configuration.py
  tests/api/resolve_test.py
Due: pytest-fixtures-require-scope

test(api): cover host/skip_ssl_verify as first-class override
  tests/api/wear_test.py
Due: pytest-fixtures-require-scope

refactor(cli): single command, typed, consistent flags with deprecated aliases
  coveralls/cli.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

refactor(api)!: consume typed Config, stop leaking client settings into payload
  coveralls/api.py
  coveralls/cli.py
  tests/api/configuration_test.py
  tests/api/reporter_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

refactor(config): make service_name always a string
  coveralls/configuration.py
  tests/api/config_test.py
Due: pytest-fixtures-require-scope

fix(cli): don't let the default --rcfile clobber a config-file value
  coveralls/cli.py
  tests/api/resolve_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

feat(config): accept deprecated coveralls_host/config_file keys with a warning
  coveralls/configuration.py
  docs/usage/configuration.rst
  tests/api/resolve_test.py
Due: pytest-fixtures-require-scope

refactor(cli): restore debug subcommand without option duplication
  coveralls/cli.py
  docs/troubleshooting.rst
  tests/cli_test.py
Due: pytest-fixtures-require-scope

docs(config): document consistent configuration model
  docs/troubleshooting.rst
  docs/usage/configuration.rst
  example/example.json
Due: none

test(config): cover empty/comment-only config file handling
  tests/api/resolve_test.py
Due: pytest-fixtures-require-scope

refactor(api)!: let service_name flow through kwargs like every other field
  coveralls/api.py
Due: pytest-fixtures-require-scope

refactor(config): unify PR-number parsing to one trailing-integer helper
  coveralls/configuration.py
  tests/api/resolve_test.py
Due: pytest-fixtures-require-scope

refactor(cli): centralize override precedence in resolve()
  coveralls/cli.py
  tests/api/resolve_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

chore(changelog): render optional "changelog:" footer in changelog
  cliff.toml
  docs/release.rst
Due: none

fix(api): stop leaking client settings into the coveralls.io payload
  coveralls/api.py
  coveralls/configuration.py
  example/example.json
  tests/api/wear_test.py
Due: pytest-fixtures-require-scope

fix(api): stop leaking client settings into the coveralls.io payload (#753)
  coveralls/api.py
  coveralls/configuration.py
  example/example.json
  tests/api/wear_test.py
Due: pytest-fixtures-require-scope

refactor(config)!: resolve every source through one uniform pipeline
  coveralls/api.py
  coveralls/configuration.py
  tests/api/configuration_test.py
  tests/api/reporter_test.py
Due: pytest-fixtures-require-scope

refactor(config)!: resolve every source through one uniform pipeline (#754)
  coveralls/api.py
  coveralls/configuration.py
  tests/api/configuration_test.py
  tests/api/reporter_test.py
Due: pytest-fixtures-require-scope

refactor(config)!: model resolved configuration as a typed Config
  coveralls/api.py
  coveralls/configuration.py
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
Due: pytest-fixtures-require-scope

refactor(config)!: model resolved configuration as a typed Config (#755)
  coveralls/api.py
  coveralls/configuration.py
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
Due: pytest-fixtures-require-scope

refactor(cli): consistent setting names across every interface
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration.py
  docs/usage/configuration.rst
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

refactor(cli): consistent setting names across every interface (#756)
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration.py
  docs/usage/configuration.rst
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

feat(cli): promote finish/save/upload verbs to subcommands
  coveralls/cli.py
  docs/usage/configuration.rst
  docs/usage/multilang.rst
  tests/cli_test.py
Due: pytest-fixtures-require-scope

feat(cli): promote finish/save/upload verbs to subcommands (#759)
  coveralls/cli.py
  docs/usage/configuration.rst
  docs/usage/multilang.rst
  tests/cli_test.py
Due: pytest-fixtures-require-scope

refactor!: audit lint suppressions and drop the custom exception
  .pre-commit-config.yaml
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration.py
  coveralls/exception.py
  coveralls/git.py
  coveralls/reporter.py
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/exception_test.py
  tests/api/reporter_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli_test.py
  tests/git_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

chore: drop support for coverage v6.2 and below
  cliff.toml
  coveralls/reporter.py
  poetry.lock
  pyproject.toml
  tox.ini
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

refactor(cli): bundle shared options into reusable groups
  coveralls/cli.py
Due: pytest-fixtures-require-scope

refactor(cli): flatten unnecessary _run_action helper
  coveralls/cli.py
Due: pytest-fixtures-require-scope

chore(internal): move tox config into pyproject.toml
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges

perf(ci): use tox-uv dropin
  .circleci/config.yml
  .github/workflows/test.yml
Due: none

chore(deps): match tox test deps to non-tox
  pyproject.toml
Due: pyproject-use-version-ranges

chore(cli): correct error string for missing token
  coveralls/api.py
  tests/api/configuration_test.py
Due: pytest-fixtures-require-scope

chore(cli): fixup errant print->log.warning
  coveralls/api.py
Due: pytest-fixtures-require-scope

tests: update test for print->log change
  tests/api/reporter_test.py
Due: pytest-fixtures-require-scope
