Repository TheKevJames/coveralls-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  pyproject-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

test(api): add more tests to improve coverage
  tests/api/encoding_test.py
  tests/api/reporter_test.py
Due: pytest-fixtures-require-scope

feat(deps): add Python 3.13 support
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges

feat(deps): add support for Python 3.13 and later
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges

Fix high cyclomatic complexities using Radon
  coveralls/api.py
  coveralls/cli.py
  coveralls/git.py
Due: pytest-fixtures-require-scope

feat: drop support for py38 and add mypy check
  .github/workflows/build.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  coveralls/__init__.py
  coveralls/__main__.py
  coveralls/api.py
  coveralls/cli.py
  coveralls/git.py
  coveralls/py.typed
  coveralls/reporter.py
  docs/conf.py
  example/project.py
  nonunicode/malformed.py
  poetry.lock
  pyproject.toml
  tests/api/configuration_test.py
  tests/api/encoding_test.py
  tests/api/exception_test.py
  tests/api/reporter_test.py
  tests/api/wear_test.py
  tests/cli_test.py
  tests/git_test.py
  tests/integration_test.py
  tox.ini
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

fix: rollback some files to fix test error
  example/project.py
  nonunicode/malformed.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

chore: improve type hints to remove ignore marks
  coveralls/reporter.py
Due: pytest-fixtures-require-scope

refactor: use httpx instead of requests
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  coveralls/api.py
  coveralls/exception.py
  coveralls/reporter.py
  poetry.lock
  pyproject.toml
  tests/api/exception_test.py
  tests/api/reporter_test.py
  tests/api/wear_test.py
  tests/conftest.py
  tests/integration_test.py
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

fix: httpx request mock error
  poetry.lock
  pyproject.toml
  tests/cli_test.py
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

fix: tox deps outdate
  .github/workflows/test.yml
  Makefile
  poetry.lock
  tests/cli_test.py
  tox.ini
Due: pytest-fixtures-require-scope

feat(deps): add support for Python 3.13 and later
  .circleci/config.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges

refactor(renovate): rely on builtin pre-commit python dep manager
  .pre-commit-config.yaml
Due: none

chore(renovate): bump to use new presets
  .github/renovate.json5
Due: none

feat: use project section
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges

feat: migrate from poetry to uv
  .github/workflows/build.yml
  Makefile
  coveralls/__init__.py
  pdm.lock
  poetry.lock
  pyproject.toml
  tox.ini
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(compat): bump pythons
  .circleci/config.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  coveralls/git.py
  coveralls/reporter.py
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(release): bump version
  CHANGELOG.md
  Dockerfile
  pyproject.toml
Due: pyproject-use-version-ranges

chore: re-lock poetry lockfile
  poetry.lock
Due: none

chore(deps): bump pre-commit config
  .pre-commit-config.yaml
Due: none

refactor: fix disallowed-name
  .pre-commit-config.yaml
  example/example.json
  example/project.py
  tests/api/reporter_test.py
  tests/data/inttest.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

tests(mypy): enable (non-strict) type checking
  .pre-commit-config.yaml
  coveralls/api.py
  coveralls/git.py
  coveralls/reporter.py
  docs/conf.py
  example/runtests.py
  tests/api/configuration_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

refactor(lint): enable refurb
  .pre-commit-config.yaml
  coveralls/api.py
  coveralls/reporter.py
  tests/api/configuration_test.py
  tests/api/encoding_test.py
  tests/api/reporter_test.py
  tests/api/wear_test.py
  tests/conftest.py
  tests/git_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

fix(renovate): pin max compatible sphinx version
  .github/renovate.json5
Due: none

chore(ci): fix dep on bash, fix mypy docopt checks
  .pre-commit-config.yaml
  pyproject.toml
Due: pyproject-use-version-ranges

fix(ci): install bash in pre-commit job
  .circleci/config.yml
Due: none

chore(deps): bump min python for docs build
  .github/renovate.json5
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

chore(deps): update dependency sphinx to v9
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

fix(pre-commit): fixup poetry-check rule
  .pre-commit-config.yaml
Due: none

chore(ci): let renovate manage versions in gha
  .github/workflows/build.yml
  .github/workflows/test.yml
  pyproject.toml
  tox.ini
Due: pyproject-use-version-ranges

chore(deps): fixup python pins
  .github/renovate.json5
  .github/workflows/build.yml
Due: none

chore: add todo
  docs/release.rst
Due: none

feat(deps): migrate from docopt to typer
  .pre-commit-config.yaml
  coveralls/cli.py
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(release): bump version
  CHANGELOG.md
  cliff.toml
  docs/release.rst
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

feat: use project section
  poetry.lock
  pyproject.toml
Due: pyproject-use-version-ranges

feat: support uv and poetry
  poetry.lock
  pyproject.toml
  uv.lock
Due: pyproject-use-version-ranges

chore(gha): configure dependency workflow
  .github/workflows/dependencies.yaml
Due: none

chore(repo): use project section in pyproject.toml (#674)
  poetry.lock
  pyproject.toml
  uv.lock
Due: pyproject-use-version-ranges

chore(deps): update lockfiles
  README.rst
  poetry.lock
  pyproject.toml
  uv.lock
Due: pyproject-use-version-ranges

Fix IndexError when parsing malformed git remote output
  coveralls/git.py
  tests/test_git_malformed_remote.py
Due: pytest-fixtures-require-scope
