Repository TheKevJames/coveralls-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-use-version-ranges, pytest-fixtures-require-scope

pyproject-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(types): add types, enable strict type checking
  .pre-commit-config.yaml
  coveralls/api.py
  coveralls/reporter.py
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/encoding_test.py
  tests/api/reporter_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/api_test.py
  tests/cli_test.py
  tests/conftest.py
  tests/git_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

refactor(api): use modern file reader
  coveralls/api.py
Due: pytest-fixtures-require-scope

test: make CWD-mutating tests hermetic with monkeypatch.chdir
  tests/api/reporter_test.py
  tests/git_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

chore: merge git-cliff config into pyproject.toml
  .pre-commit-config.yaml
  MANIFEST.in
  cliff.toml
  pyproject.toml
Due: pyproject-use-version-ranges

fix(reporter): restore coverage v6 compatibility for get_analysis_to_report
  coveralls/reporter.py
Due: pytest-fixtures-require-scope

feat(api): retry transient HTTP failures
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration.py
  docs/usage/configuration.rst
  poetry.lock
  pyproject.toml
  tests/api/config_test.py
  tests/api/reporter_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli_test.py
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(api): retry transient HTTP failures (#760)
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration.py
  docs/usage/configuration.rst
  poetry.lock
  pyproject.toml
  tests/api/config_test.py
  tests/api/reporter_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli_test.py
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(config): support configuration via pyproject.toml
  coveralls/api.py
  coveralls/configuration.py
  coveralls/configuration/__init__.py
  coveralls/configuration/ci.py
  coveralls/configuration/environment.py
  coveralls/configuration/files.py
  coveralls/configuration/helpers.py
  docs/usage/configuration.rst
  poetry.lock
  pyproject.toml
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/conftest.py
  tests/api/resolve_test.py
  tests/api/toml_config_test.py
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(config): support configuration via pyproject.toml (#761)
  coveralls/api.py
  coveralls/configuration.py
  coveralls/configuration/__init__.py
  coveralls/configuration/ci.py
  coveralls/configuration/environment.py
  coveralls/configuration/files.py
  coveralls/configuration/helpers.py
  docs/usage/configuration.rst
  poetry.lock
  pyproject.toml
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/conftest.py
  tests/api/resolve_test.py
  tests/api/toml_config_test.py
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(config): source run_at from COVERALLS_RUN_AT and default to now
  coveralls/configuration/__init__.py
  coveralls/configuration/environment.py
  coveralls/configuration/helpers.py
  tests/api/run_at_test.py
Due: pytest-fixtures-require-scope

feat(api): support carryforward flags on parallel finish
  .pre-commit-config.yaml
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration/environment.py
  coveralls/configuration/helpers.py
  docs/usage/configuration.rst
  tests/api/config_test.py
  tests/api/resolve_ci_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli/__init__.py
  tests/cli/debug_test.py
  tests/cli/finish_test.py
  tests/cli/helpers.py
  tests/cli/save_test.py
  tests/cli/submit_test.py
  tests/cli/upload_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

test(cli): derive expected CLI kwargs and drop the name-tests-test exclude
  .pre-commit-config.yaml
  tests/cli/conftest.py
  tests/cli/debug_test.py
  tests/cli/finish_test.py
  tests/cli/save_test.py
  tests/cli/submit_test.py
  tests/cli/upload_test.py
Due: pytest-fixtures-require-scope

feat: support carryforward flags on parallel finish (#762)
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration/environment.py
  coveralls/configuration/helpers.py
  docs/usage/configuration.rst
  tests/api/config_test.py
  tests/api/resolve_ci_test.py
  tests/api/resolve_test.py
  tests/api/wear_test.py
  tests/cli/__init__.py
  tests/cli/conftest.py
  tests/cli/debug_test.py
  tests/cli/finish_test.py
  tests/cli/save_test.py
  tests/cli/submit_test.py
  tests/cli/upload_test.py
  tests/cli_test.py
Due: pytest-fixtures-require-scope

refactor(tests): modernize usage of unittest vs pytest
  tests/api/encoding_test.py
Due: pytest-fixtures-require-scope

refactor: use pathlib instead of os
  coveralls/cli.py
  coveralls/reporter.py
  tests/api/encoding_test.py
  tests/api/reporter_test.py
  tests/cli/conftest.py
  tests/cli/upload_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

chore(ci): use org-local orbs
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.38.0
  .pre-commit-config.yaml
Due: none

chore(pre-commit): bump config
  .pre-commit-config.yaml
  coveralls/__init__.py
  coveralls/__main__.py
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration/__init__.py
  coveralls/configuration/ci.py
  coveralls/configuration/files.py
  coveralls/configuration/helpers.py
  coveralls/git.py
  coveralls/reporter.py
  docs/conf.py
  example/project.py
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/conftest.py
  tests/api/encoding_test.py
  tests/api/reporter_test.py
  tests/api/resolve_ci_test.py
  tests/api/resolve_test.py
  tests/api/run_at_test.py
  tests/api/toml_config_test.py
  tests/api/wear_test.py
  tests/cli/conftest.py
  tests/cli/debug_test.py
  tests/cli/finish_test.py
  tests/cli/save_test.py
  tests/cli/submit_test.py
  tests/cli/upload_test.py
  tests/git_test.py
  tests/integration_test.py
Due: pytest-fixtures-require-scope

fix(deps): fix compatibility with typer 0.27.x
  coveralls/cli.py
Due: pytest-fixtures-require-scope

chore(repo): migrate to uv and ty
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/autoapproval.yml
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  coveralls/__init__.py
  coveralls/__main__.py
  coveralls/api.py
  coveralls/cli.py
  coveralls/configuration/__init__.py
  coveralls/configuration/ci.py
  coveralls/configuration/files.py
  coveralls/configuration/helpers.py
  coveralls/reporter.py
  docs/conf.py
  docs/release.rst
  poetry.lock
  pyproject.toml
  tests/api/config_test.py
  tests/api/configuration_test.py
  tests/api/encoding_test.py
  tests/api/reporter_test.py
  tests/api/resolve_ci_test.py
  tests/api/resolve_test.py
  tests/api/run_at_test.py
  tests/api/toml_config_test.py
  tests/api/wear_test.py
  tests/api_test.py
  tests/cli/conftest.py
  tests/cli/debug_test.py
  tests/cli/finish_test.py
  tests/cli/save_test.py
  tests/cli/submit_test.py
  tests/cli/upload_test.py
  tests/git_test.py
  tests/integration_test.py
  uv.lock
Due: pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(repo): migrate from uv_build to hatchling
  pyproject.toml
Due: pyproject-use-version-ranges

ci: migrate pre-commit job to prek orb
  .circleci/config.yml
Due: none

chore: cleanup noqa format
  coveralls/__init__.py
Due: pytest-fixtures-require-scope

chore(deps): add tomli to dev group for ty type-checking
  pyproject.toml
  uv.lock
Due: pyproject-use-version-ranges

chore(repo): bump config
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/wip.yml
  .pre-commit-config.yaml
Due: none

refactor(ci): merge test/build into ci.yml and isolate PyPI OIDC to publish job
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

chore(ci): filter workflow runs for non-release tags
  .github/workflows/ci.yml
Due: none

Fix GitHub Actions badge URL in README
  README.rst
Due: none

chore(readme): fix GitHub Actions badge URL (#804)
  README.rst
Due: none

chore(repo): bump config
  .github/settings.yml
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/wip.yml
Due: none

fix(tests): use Generator annotation for contextmanager
  tests/api/wear_test.py
Due: pytest-fixtures-require-scope

chore(repo): bump config
  .github/autoapproval.yml
  .github/rulesets/base.json
  .github/rulesets/required-checks.json
  .github/settings.yml
  .github/workflows/autoapproval.yml
  .github/workflows/rulesets.yml
Due: none

Path conditions:
  pyproject-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
